{% extends 'base.html.twig' %}

{% block body %}
    <div class="nk-main">

        <div class="nk-gap-2"></div>

        {% include '_common/alert.html.twig' %}


        <div class="container">

            <div class="nk-gap-5"></div>

            <div class="nk-social-profile nk-social-profile-container-offset">
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <div class="nk-social-profile-avatar">
                            <a href="#">
                                <img src="{{ asset('build/images/avatar-1.jpg') }}" alt="AVATAR">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-9">
                        <div class="nk-social-profile-info">
                            <div class="nk-gap-2"></div>
                            {#<div class="nk-social-profile-info-last-seen">last seen 2 hours ago</div>#}
                            <h1 class="nk-social-profile-info-name">{{ user.username }}</h1>
                            <div class="nk-social-profile-info-username">Inscrit depuis le {{ user.createdAt|localizeddate }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row vertical-gap">
                <div class="col-lg-3">
                    <!--
                        START: Sidebar

                        Additional Classes:
                            .nk-sidebar-left
                            .nk-sidebar-right
                            .nk-sidebar-sticky
                    -->
                    <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky">
                        <div class="nk-gap-2"></div>


                        <div class="nk-social-menu d-none d-lg-block">
                            <ul>
                                <li class="">
                                    <a href="forum.html">
                                        Forum</a>
                                </li><li class="">
                                    <a href="social-user-settings.html">
                                        Settings</a>
                                </li>
                            </ul>
                        </div>

                        <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
                                    <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="collapsed">
                                        Menu
                                    </a>
                                </div>
                                <div id="nk-social-menu-mobile-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading">
                                    <div class="nk-social-menu">
                                        <ul>
                                            <li class="">
                                                <a href="social-user-activity.html">
                                                    Activity</a>
                                            </li><li class="">
                                                <a href="social-user-notifications.html">
                                                    Notifications</a>
                                            </li><li class="active">
                                                <a href="social-user-messages.html">
                                                    Messages<span class="nk-badge">192</span></a>
                                            </li><li class="">
                                                <a href="social-user-friends.html">
                                                    Friends<span class="nk-badge">19</span></a>
                                            </li><li class="">
                                                <a href="social-user-groups.html">
                                                    Groups<span class="nk-badge">2</span></a>
                                            </li><li class="">
                                                <a href="forum.html">
                                                    Forum</a>
                                            </li><li class="">
                                                <a href="social-user-settings.html">
                                                    Settings</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-gap-4 d-none d-lg-block"></div>
                    </aside>
                    <!-- END: Sidebar -->
                </div>
                <div class="col-lg-9">
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                    <div class="nk-social-menu-inline">
                        <ul>
                            <li class="active">
                                <a href="#">Personal</a>
                            </li>
                            <li>
                                <a href="#">Mentions</a>
                            </li>
                            <li>
                                <a href="#">Favorites</a>
                            </li>
                            <li>
                                <a href="#">Friends</a>
                            </li>
                            <li>
                                <a href="#">Groups</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nk-social-container">
                        <h3>Personas</h3>
                        <div class="row game-group-members">
                            <div class="col-2">
                                <img src="{{ asset('build/images/avatar-3-sm.jpg') }}">
                                <small><a href="{{ path('persona_create') }}">Créer un persona</a></small>
                            </div>
                            {% for persona in user.personas%}
                                <div class="col-2">
                                    <img src="{{ asset('build/images/avatar-3-sm.jpg') }}">
                                    <a href="{{ path('persona_view', {'slug':persona.slug}) }}"><small>{{ persona.name }}</small></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
            <div class="nk-gap-3"></div>
        </div>

        </div>

        <div class="nk-gap-4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}