{% if pageCount > 1 %}
    <div class="nk-pagination nk-pagination-left">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="nk-pagination-prev mr-5 mt-5">
                <span class="ion-arrow-left-c"></span>
            </a>
        {% endif %}

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="nk-pagination-prev">
                <span class="nk-icon-arrow-left"></span>
            </a>
        {% else %}
            <a href="" class="nk-pagination-prev disabled">
                <span class="nk-icon-arrow-left"></span>
            </a>
        {% endif %}

        <nav>
            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <span class="nk-pagination-current-white">{{ page }}</span>
                {% endif %}
            {% endfor %}
        </nav>

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="nk-pagination-next">
                <span class="nk-icon-arrow-right"></span>
            </a>
        {% else %}
            <a href="" class="nk-pagination-next disabled">
                <span class="nk-icon-arrow-right"></span>
            </a>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="nk-pagination-next ml-5 mt-5">
                <span class="ion-arrow-right-c"></span>
            </a>
        {% endif %}
    </div>
{% endif %}
