{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.page_title'|trans }}{% endblock %}

{% block body %}
    <div class="nk-main">
        <div class="nk-gap-2"></div>

        {% include '_common/alert.html.twig' %}

        <div class="nk-gap-2"></div>

        <div class="container">
            <div class="col-md-12">
                <div class="nk-box-3">
                    <h2 class="nk-title h3 text-center">{{ 'reset_password.page_title'|trans }}</h2>
                    <div class="nk-gap-1"></div>

                    <form method="post"  class="nk-form nk-form-style-1 validate">
                        <div class="input-group">
                            <input placeholder="{{ 'reset_password.placeholder.new_password'|trans }}" name="password" id="resetInputPassword" class="form-control" type="password" required>
                            <button class="nk-btn nk-btn-lg link-effect-4" type="submit">{{ 'common.submit'|trans }}</button>
                        </div>
                        <small>{{ 'reset_password.text.after_reset_warn'|trans }}</small>
                    </form>

                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>
    </div>

{% endblock %}
