{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="nk-main">

    {% embed '_common/head_banner.html.twig' %}
        {% block banner_title %}{{ category.name }}{% endblock %}
    {% endembed %}

    <div class="nk-gap-2"></div>

    {% include '_common/alert.html.twig' %}


    <div class="container">
        <ul class="nk-forum">
            {% for cat in category.children %}
                <li>
                    <div class="nk-forum-icon">
                        <span class="ion-pin"></span>
                    </div>
                    <div class="nk-forum-title">
                        <h3><a href="forum-single-topic.html">{{ cat.name }}</a></h3>
                    </div>
                    <div class="nk-forum-activity-avatar">
                        <img src="assets/images/avatar-1-sm.jpg" alt="Lesa Cruz">
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="nk-gap-2"></div>

    <div class="container">
        <ul class="nk-forum">
            {% for topic in category.topics%}
                <li>
                    <div class="nk-forum-icon">
                        <span class="ion-pin"></span>
                    </div>
                    <div class="nk-forum-title">
                        <h3><a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a></h3>
                        <div class="nk-forum-title-sub">Started by <a href="#">{{ topic.author.username }}</a> on January 17, 2017</div>
                    </div>
                    <div class="nk-forum-count">
                        {{ topic.posts|length }} posts
                    </div>
                    <div class="nk-forum-activity-avatar">
                        <img src="assets/images/avatar-1-sm.jpg" alt="Lesa Cruz">
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="nk-gap-4"></div>
</div>
{% endblock %}
