{% extends 'base.html.twig' %}

{% block body %}
    <div class="nk-main">
        <div class="nk-header-title nk-header-title-full nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-8">
                <img src="{{ asset('build/images/image-2.jpg') }}" alt="" class="jarallax-img">
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">
                        <div class="nk-header-text">
                            <div class="nk-gap-4"></div>
                            <div class="container">
                                <div class="text-center">
                                    <h2 class="nk-title display-4">{{ '404.title'|trans }}</h2>
                                    <div class="nk-gap-2"></div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <p class="lead">{{ '404.description'|trans }}</p>

                                            <div class="nk-gap-2"></div>
                                            <a href="{{ path('home') }}" class="nk-btn nk-btn-lg link-effect-4">{{ '404.go_home'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-4"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END: Header Title -->
    </div>
{% endblock %}