{% extends 'base.html.twig' %}

{% block body %}
    <div class="nk-main">

        <div class="nk-gap-2"></div>

        {% include '_common/alert.html.twig' %}

        <div class="container bg-dark-1 p-60">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6 p-4">
                    {{ 'persona.label.name'|trans }} {{ form_widget(form.name) }}
                </div>
                <div class="col-6 p-4">
                    {{ 'persona.label.age'|trans }} {{ form_widget(form.age) }}
                </div>
                <div class="col-12 p-4">
                    {{ 'persona.label.bio'|trans }} {{ form_widget(form.bio) }}
                </div>
                <div class="col-12 p-4 text-right">
                    <a href="{{ path('profile', {'slug': app.user.slug}) }}" type="button" class="nk-btn nk-btn-lg link-effect-4 nk-anchor">{{ 'action.cancel'|trans }}</a>
                    <button type="submit" class="nk-btn nk-btn-lg link-effect-4 nk-anchor">{{ submitValue }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}