<div class="game-description bg-dark-1 p-30">
    <div class="row">
        <div class="col-10">
            <h1 class="mb-0">{{ game.title }}</h1>
            <div class="ml-10 text-grey-1">
                <small>{{ 'game.text.proposed_by'|trans }} <span class="text-warning bold">{{ game.gameMaster.username }}</span></small>
            </div>
        </div>
        <div class="col-2">
            {% if isGameMaster(game) and 'draft' in workflow_marked_places(game) or 'published' in workflow_marked_places(game) %}
                <a href="#" class="nk-btn nk-btn-sm nk-btn-rounded nk-btn-outline nk-btn-color-main-1">{{ 'action.edit'|trans }}</a>
            {% endif %}
        </div>
        <div class="col-12 mt-20 lead">
            <p>{{ game.description }}</p>
        </div>

        <article id="story" class="col-12 read-more">
            <p>{{ game.story|raw }}</p>
            <p class="read-more-bg"></p>
        </article>

        <p class="prompt mt-10 col-12 align-center">
            <a href="#" class="nk-btn link-effect-1 nk-btn-circle nk-btn-color-warning">
                <span class="icon ion-bookmark"></span>
                {{ 'common.read_mode'|trans }}
            </a>
        </p>
    </div>

    <div class="nk-divider mt-20 mb-20"></div>

    <div class="row justify-content-between">
        <div class="col-3">
            <h4>{{ 'game.text.group_number'|trans({'%current%': game.playingPersonas|length, '%max%': game.maxPlayingPersonas}) }}</h4>
        </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if game.gameMaster != app.user and 'published' in workflow_marked_places(game) %}
                    {% if anyPersonaInPendingGame(game)  %}
                        <div class="col-3">
                            <a href="{{ path('rpg_leave_game', {'locationSlug': game.location.slug, 'gameSlug': game.slug}) }}" class="nk-btn link-effect-4">
                                {{ 'game.text.cancel_group'|trans }}
                            </a>
                        </div>
                    {% elseif personaJoinedGame(game) %}
                        <div class="col-3">
                            <a href="{{ path('rpg_leave_game', {'locationSlug': game.location.slug, 'gameSlug': game.slug}) }}" class="nk-btn link-effect-4">
                                {{ 'game.text.leave_group'|trans }}
                            </a>
                        </div>
                    {% else %}
                    <div class="col-4">
                        {{ form_start(joiningForm) }}
                            <div class="float-left mr-5">{{ form_widget(joiningForm.persona) }}</div>
                            <div class="float-left">
                                <button type="submit" class="nk-btn link-effect-4">
                                    {{ 'game.text.join_group'|trans }}
                                </button>
                            </div>
                        {{ form_end(joiningForm) }}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
    </div>

    <div class="row game-group-members">
        {% for persona in game.playingPersonas %}
            <div class="col-1">
                <img src="{{ asset('build/images/avatar-3-sm.jpg') }}">
                <small>{{ persona.name }}</small>
            </div>
        {% endfor %}
        {% for persona in game.pendingPersonas if isGameMaster(game) or userPersonaInPendingGame(game, persona) %}
            <div class="col-1 pending">
                <img src="{{ asset('build/images/avatar-3-sm.jpg') }}">
                <small>{{ persona.name }}</small>
                {% if isGameMaster(game) %}
                    <div class="gm-action">
                        <a href="{{ path('rpg_accept_personas', {
                            'locationSlug': game.location.slug,
                            'gameSlug': game.slug,
                            'personaId': persona.id
                        }) }}">
                            <span class="text-main-2 icon ion-android-add-circle"></span>
                        </a>  |
                        <a href="{{ path('rpg_reject_personas', {
                            'locationSlug': game.location.slug,
                            'gameSlug': game.slug,
                            'personaId': persona.id
                        }) }}">
                            <span class="text-main-5 icon ion-android-remove-circle"></span>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="nk-gap-1"></div>

{% if isGameMaster(game) and 'published' in workflow_marked_places(game) %}
    <a href="{{ path('rpg_start_game', {'locationSlug': game.location.slug, 'gameSlug': game.slug}) }}" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">Démarrer la partie</a>
{% elseif app.user and 'in_progress' in workflow_marked_places(game) %}
    {% if personaJoinedGame(game) %}
        <a href="#" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_turn'|trans }}</a>
    {% elseif game.gameMaster == app.user %}
        <div class="row">
            <div class="col-6">
                <a href="#" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_event'|trans }}</a>
            </div>
            <div class="col-6">
                <a href="#" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_npc'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endif %}