{% if isGameMaster(game) and 'published' in workflow_marked_places(game) %}
    <a href="{{ path('rpg_game_start', {'locationSlug': game.location.slug, 'gameSlug': game.slug}) }}" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">Démarrer la partie</a>
{% elseif app.user and 'in_progress' in workflow_marked_places(game) %}
    {% if personaJoinedGame(game) %}
        <a href="{{ path('rpg_game_post', {'locationSlug': game.location.slug, 'gameSlug': game.slug}) }}" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_turn'|trans }}</a>
    {% elseif game.gameMaster == app.user %}
        <div class="row">
            <div class="col-6">
                <a href="#" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_event'|trans }}</a>
            </div>
            <div class="col-6">
                <a href="#" class="nk-btn nk-btn-x4 nk-btn-block nk-btn-rounded nk-btn-color-dark-1 nk-btn-bg-white">{{ 'game.text.play_npc'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endif %}