{% extends 'base.html.twig' %}

{% block body %}
    <div class="nk-main">

        {% embed '_common/breadcrumbs.html.twig' %}
            {% block items %}
                {% if category.parent %}
                    <li><a href="{{ path('category_view', {'slug': category.parent.slug}) }}">{{ category.parent.name }}</a></li>
                {% endif %}
                <li><a href="{{ path('category_view', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                <li><span>{{ 'topic.breadcrumbs.current'|trans }}</span></li>
            {% endblock %}
        {% endembed %}

        <div class="nk-gap-2"></div>

        {% include '_common/alert.html.twig' %}


        <div class="container">
            {{ form_start(form) }}
                <div class="bg-dark-1 p-60 row">
                    <div class="col-12 p-4">
                        {{ 'topic.label.new'|trans }} {{ form_widget(form.topicTitle) }}
                    </div>

                    <div class="col-12 p-4">
                        {{ form_widget(form.content) }}
                    </div>
                    <div class="col-12 p-4 text-right">
                        <button type="submit" class="nk-btn nk-btn-lg link-effect-4 nk-anchor">{{ 'topic.actions.submit'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
