{% extends 'base.html.twig' %}

{% block body %}
    <div class="nk-main">

        {% embed '_common/breadcrumbs.html.twig' %}
            {% block items %}
                {% if location and location.parent %}
                    <li><a href="{{ path('rpg_location_view', {'slug': location.parent.slug}) }}">{{ location.parent.name }}</a></li>
                {% endif %}
                {% if location %}
                    <li><a href="{{ path('rpg_location_view', {'slug': location.slug}) }}">{{ location.name }}</a></li>
                {% endif %}
                <li><span>{{ 'game.breadcrumbs.new'|trans }}</span></li>
            {% endblock %}
        {% endembed %}

        <div class="nk-gap-2"></div>

        {% include '_common/alert.html.twig' %}


        <div class="container">
            {{ form_start(form) }}
                <div class="bg-dark-1 p-60 row">
                    <div class="col-12 p-4">
                        {{ 'game.label.title'|trans }} {{ form_widget(form.title) }}
                    </div>

                    <div class="col-12 p-4">
                        {{ 'game.label.max_players'|trans }} {{ form_widget(form.maxPlayingPersonas) }}
                    </div>

                    <div class="col-12 p-4">
                        {{ 'game.label.location'|trans }} {{ form_widget(form.location) }}
                    </div>

                    <div class="col-12 p-4">
                        <h3>{{ 'game.label.description'|trans }}</h3>
                        {{ form_widget(form.description) }}
                    </div>

                    <div class="col-12 p-4">
                        <h3>{{ 'game.label.story'|trans }}</h3>
                        {{ form_widget(form.story) }}
                    </div>
                    <div class="col-12 p-4 text-right">
                        <button type="submit" class="nk-btn nk-btn-lg link-effect-4 nk-anchor">{{ 'game.actions.submit'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
